@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$background-header: #fafafa;
$background-main: #d1d1d1;
$background-content: #aeaeae;
$background-card: #252525;
$background-black:#1c1c1c;
$background-grey:#2f2f2f;
$grey: #333333;
$green: #2fad68;
$text-color:#e5e5e5;

*{
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 12px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
html,body {
    height: 100%;
    font-family: 'Roboto';
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
    background-color: $background-main;
}

.header {
    padding: 18px 15px;
    background-color: $green;
    &__container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;
    }
    &__logo {
        position: relative;
        z-index: 12;
    }

    &__menu {
    }
}
.menu {
    &__list {
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;
        padding: 20px 15px;
    }

    &__link {
        font-size: 18px;
        color: #fff;
    }
    &__link:hover {
       color: rgb(251, 255, 11);
    }
    &__link.active {
        color: rgb(251, 255, 11);
     }
    &__icon {
        display: none;
    }
}

@media(max-width:1200px){
    .menu__list {
        gap: 20px;
    }
}

@media(max-width:900px){
    .header {
        position: fixed;
        z-index: 20;
        width: 100%;
        margin-bottom: 116px;
        padding: 0;
    }
    .main {
        padding-top: 80px;
    }
    .menu {
        position: fixed;
        background-color: #aeaeae;
        width: 100%;
        height: 100%;
        left: -130%;
        transition: left 300ms;
        z-index: 10;
        top:0;
    }
    .menu__list {
        gap:0px;
    }
    .menu::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #2fad68;
        z-index: 11;
        height: 80px;
        width: 100%;
    }
    .menu.active {
        left:0;
    } 
    .menu.active .menu__list {

        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-top: 160px;
        gap: 32px;
        left: -100%;
        transition: 300ms;
    }
    .menu.active .menu__link {
        color: #fff;
        font-size: 26px;
    }
    .menu__icon {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 12;
    }
    .menu__icon::after,
    .menu__icon::before,
    .menu__icon span {
        width: 100%;
        height: 10%;
        background-color: #1E313B;
        position: absolute;
        left: 0;
    }
    .menu__icon::after,
    .menu__icon::before {
        content: '';
    }
    .menu__icon::after {
        top: 0;
    }
    .menu__icon::before {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: translateY(-50%);
    }
    body.active .menu__icon::after {
        top:50%;
        transform: rotate(45deg);
    }
    body.active .menu__icon::before {
        top:50%;
        transform: rotate(-45deg);
    }
    body.active .menu__icon span {
        display: none;
    }
}
.bold {
    font-weight: 700;
}
.green-text {
    color: $green;
}
.movies {
    background-color: $background-main;
    &__container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        padding: 30px 15px 10px;
        background-color: $background-content;
        position: relative;
	}

	&__items {
		display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 30px;
        flex: 0 1 80%;
        margin-bottom: 20px;
    }

    &__item {
    
    }
    

	&__navbar {
        padding: 10px 15px;
        flex: 0 1 20%
	}
}

.movie {
    position: relative;
    flex: 0 1 30%;
    color: $text-color;
    background-color: $background-card;
    font-size: 16px;
    
    &__image {
        display: block;
        
    }
    &__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__image:hover {
       
    }
    &__body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 15px;
    }
    &__title {
        display: block;
        color: inherit;
        font-weight: 700;
        font-size: 22px;
        line-height: 20px;
        text-align: start;
    }
    &__rate {
        position: absolute;
        top: 3px;
        right: 3px;
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        background: #252525;
    }
    &__genre {
        
    }

    &__year {
        white-space: nowrap;
    }

    &__producer {
    }
}
.movie:hover {
    transition: transform 300ms;
    transform: scale(1.05);
}

.navbar {
    background-color: $background-card;
    color: $text-color;
    &__title {
        background-color: $green;
        padding: 15px 5px;
        color: #fff;
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        margin: -10px -15px 30px; 
    }
    &__subtitle {
        padding: 10px 5px;
        color:$green;
        background-color: $grey;
    }
    &__search input {
        padding: 10px 5px;
        font-size: 14px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    &__search form {
        position: relative;
    }
    &__search button{
        background-color: #fff;
        position: absolute;
        top: 5px;
        right: 0px;
    }
    &__year input {
        padding: 10px 5px;
        font-size: 14px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    &__year form {
        position: relative;
    }
    &__year button{
        background-color: #fff;
        position: absolute;
        top: 5px;
        right: 0px;
    }

    &__genre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}
.genre {
    &__item{
        padding: 10px 5px;
        cursor: pointer;
    }
    &__item:hover{
        background-color: $grey;
    }
    &__item_active {
        background-color: $grey;
    }
    
}
@media(max-width:1200px) {
    .movies__items {
        gap: 20px;
    }
}
@media(max-width:996px){
    .movies__items {
        justify-content: space-evenly;
    }
    .movie {
        flex: 0 1 40%;
    }
}
@media(max-width:768px){
    .movies__container {
        flex-direction: column-reverse;
        padding: 20px 0px 10px;
        gap: 20px;
    }
    .movie:hover {
        transform: scale(1);
    }
    .navbar {
        flex: 0 1 100%;
    }
}
@media(max-width:576px){
    .movie {
        flex:0 1 100%;
    }
}

.search-alert {
    transform: scale(0);
    transition: 400ms;
    position: absolute;
    z-index: 2;
    background-color: #a5260a;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 4px;
    width: 900px;
    margin-right: 10px;
    height: 200px;
    &__body {
        font-size: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__return {
        text-align: center;
    }
}

.movie-description {
        padding: 0px 20px 20px;
        background-color:$background-grey;
		&__title {
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            background-color: $background-black;
            margin-bottom: 30px;
            padding: 15px 10px;
		}
		&__overview {
            color: $text-color;
            font-size: 16px;
            line-height: 24px;
            padding-left: 30px;
        }
        &__body {
            display: flex;
            flex-direction: column;
		}
        &__poster {
            display: flex;
            padding-bottom: 20px;
        }
        &__info {
		}
}



.info-movie {
        padding: 0px 15px 20px;
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: 20px;
		&__budget {
		}

		&__country {
		}

		&__company {
		}

		&__runtime {
		}

		&__release-date {

			
		}

		&__status {
		}
}
.info-movie * {
    padding: 10px 5px;
}
.info-movie div:nth-child(odd) {
    background-color: $background-card;
}

.movie-decription {

    &__actors {
    }
}
.actors {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        text-align: center;
        color: #fff;
        font-size: 36px;
        line-height: 30px;
        font-weight: 700;
        padding: 10px 20px;
        margin-bottom: 40px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 80px;
    }

    &__item {
        display: flex;
    }
}
.actor {
    &__avatar {
        margin-right: 20px;
    }
    &__avatar img {
        height: 200px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__name {
        font-size: 18px;
        color: $text-color;

    }
    &__role {
        font-size: 18px;
        color: $text-color;
    }
}


@media(max-width:996px){
    .movie-description {
        &__overview {
            padding-top: 20px;
            padding-left: 0;
        }
        &__poster{
            flex-direction: column;
        }
        &__image img {
            width: 100%;
        }
    }
    .actors {
        column-gap: 40px;
    }
}
@media(max-width:576px){
    .actors {
        column-gap: 20px;
    }
}
@media(max-width:576px){
  .actors{
    padding: 0;
    align-items: start;
    &__items {
        grid-template-columns: 1fr;
      }
  }
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 15px;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background-color: #fff;
        width: 30px;
        height: 30px;
        color: #000;
        cursor: pointer;
    }
    &__item:hover {
        background-color: #f5f5f5;
    }
    &__item.active {
        background-color: #f5f5f5;;
    }
}


.footer {
    padding: 20px 15px;
    background-color: $green;
    text-align: center;
    color:#fff;
    font-size: 20px;
}
