@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$background-header: #fafafa;
$background-main: #d1d1d1;
$background-content: #aeaeae;
$background-card: #252525;
$green: #2fad68;
$text-color:#e5e5e5;

*{
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 12px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html,body {
    height: 100%;
    font-family: 'Roboto';
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
    background-color: $background-main;
}
.header {
    display: flex;
    padding: 18px 15px;
    background-color: $background-header;
}
.bold {
    font-weight: 700;
}
.movies {
    background-color: $background-main;
    &__container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        padding: 30px 15px;
        background-color: $background-content;
	}

	&__items {
		display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        flex: 0 1 80%;
    }

    &__item {
    
    }
    

	&__navbar {
        padding: 10px 15px;
        flex: 0 1 20%
	}
}

.movie {
    flex: 0 1 30%;
    color: $text-color;
    background-color: $background-card;
    font-size: 16px;
    
    &__image {
        display: block;
        
    }
    &__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__image:hover {
       
    }
    &__body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 15px;
    }
    &__title {
        display: block;
        color: inherit;
        font-weight: 700;
        font-size: 22px;
        line-height: 20px;
        text-align: start;
    }

    &__genre {
        
    }

    &__year {
    }

    &__producer {
    }
}
.movie:hover {
    transition: transform 300ms;
    transform: scale(1.05);
}



.footer {
    padding: 20px 15px;
    background-color: $green;
    text-align: center;
    color:#fff;
    font-size: 20px;
}
