@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

html, body {
  height: 100%;
  font-family: "Roboto";
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
  background-color: #d1d1d1;
}

.header {
  display: flex;
  padding: 18px 15px;
  background-color: #fafafa;
}

.bold {
  font-weight: 700;
}

.green-text {
  color: #2fad68;
}

.movies {
  background-color: #d1d1d1;
}
.movies__container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 30px 15px;
  background-color: #aeaeae;
  position: relative;
}
.movies__items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex: 0 1 80%;
}
.movies__navbar {
  padding: 10px 15px;
  flex: 0 1 20%;
}

.movie {
  position: relative;
  flex: 0 1 30%;
  color: #e5e5e5;
  background-color: #252525;
  font-size: 16px;
}
.movie__image {
  display: block;
}
.movie__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 15px;
}
.movie__title {
  display: block;
  color: inherit;
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  text-align: start;
}
.movie__rate {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  background: #252525;
}
.movie:hover {
  transition: transform 300ms;
  transform: scale(1.05);
}

.navbar {
  background-color: #252525;
  color: #e5e5e5;
}
.navbar__title {
  background-color: #2fad68;
  padding: 15px 5px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  margin: -10px -15px 30px;
}
.navbar__subtitle {
  padding: 10px 5px;
  color: #2fad68;
  background-color: #333333;
}
.navbar__search input {
  padding: 10px 5px;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.navbar__search form {
  position: relative;
}
.navbar__search button {
  background-color: #fff;
  position: absolute;
  top: 5px;
  right: 0px;
}
.navbar__year input {
  padding: 10px 5px;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.navbar__year form {
  position: relative;
}
.navbar__year button {
  background-color: #fff;
  position: absolute;
  top: 5px;
  right: 0px;
}
.navbar__genre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.genre__item {
  padding: 10px 5px;
  cursor: pointer;
}
.genre__item:hover {
  background-color: #333333;
}
.genre__item_active {
  background-color: #333333;
}

.search-alert {
  transform: scale(0);
  transition: 400ms;
  position: absolute;
  z-index: 2;
  background-color: #a5260a;
  color: #fff;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 4px;
  width: 900px;
  margin-right: 10px;
  height: 200px;
}
.search-alert__body {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.search-alert__return {
  text-align: center;
}

.movie-description {
  padding: 0px 20px 20px;
  background-color: #2f2f2f;
}
.movie-description__title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #1c1c1c;
  margin-bottom: 30px;
  padding: 15px 10px;
}
.movie-description__overwiev {
  color: #e5e5e5;
  font-size: 16px;
  line-height: 24px;
  padding-left: 30px;
}
.movie-description__body {
  display: flex;
  flex-direction: column;
}
.movie-description__poster {
  display: flex;
  padding-bottom: 20px;
}
.info-movie {
  padding: 0px 15px 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
}
.info-movie * {
  padding: 10px 5px;
}

.info-movie div:nth-child(odd) {
  background-color: #252525;
}

.footer {
  padding: 20px 15px;
  background-color: #2fad68;
  text-align: center;
  color: #fff;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */